main { /* Las páginas de accesoSocios.php y crearContrasenia.php utilizan esta misma hoja de estilos */
    .background-1 { /* Los elementos con esta clase tendrán "seta.png" como fondo con una transparencia del 40% */
        background-image: url("../Images/seta.png");
        background-size: cover;
        background-position: center;
        background-blend-mode: overlay;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .background-2 { /* Los elementos con esta clase tendrán "seta-2.png" como fondo con una transparencia del 50% */
        background-image: url("../Images/seta-2.png");
        background-size: cover;
        background-position: center;
        background-blend-mode: overlay;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .login-container { /* Contenedor principal que contiene el título, subtítulo y el formulario */
        max-width: 600px;
        margin: 80px auto;
        padding: 40px 30px;
        border-radius: 12px;
        text-align: center;

        h1 { /* Estilo del título */
            font-size: 28px;
            color: var(--color-principal-fondo);
            text-shadow: 0 0 5px black;
            margin-bottom: 10px;
            text-transform: uppercase;
        }

        p { /* Estilo del subtítulo */
            font-size: 18px;
            text-shadow: 0 0 5px black;
            color: var(--color-principal-fondo);
            margin-bottom: 30px;
        }

        form { /* Estilo del formulario */
            display: flex;
            flex-direction: column;
            gap: 15px;

            label { /* Estilo de cada etiqueta del formulario */
                text-align: left;
                font-weight: 600;
                font-size: 14px;
                color: var(--color-principal-fondo);
            }

            input { /* Estilo de cada caja de texto del formulario debajo de la etiqueta */
                padding: 12px;
                border-radius: 6px;
                font-size: 14px;
                border: none;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            }

            button[type="submit"] { /* Estilo del botón de "acceder" o "crear contraseña" */
                padding: 12px;
                background-color: var(--color-acento);
                border: none;
                color: var(--color-principal-fondo);
                border: none;
                border-radius: 6px;
                font-weight: 600;
                font-size: 16px;
                cursor: pointer;
                margin: 10px auto 0 auto;

                &:hover {
                    background-color: var(--color-terciario);
                }
            }
        }
    }

    #error-message { /* Estilo del <span> con el mensaje de error en caso de que lo haya */
        position: absolute;
        left: 50%;
        transform: translate(-50%, -60px);
        font-weight: bold;
        color: var(--color-acento);
        font-size: 1.2rem;
    }
}