body {
  margin: 0px;
  font-family: 'Titillium Web', sans-serif;
  background-color: #f5f5f5;
}

.login-container {
  max-width: 600px;
  margin: 80px auto;
  padding: 40px 30px;
  border-radius: 12px;
  text-align: center;
  
  background-image: url(../Images/seta.jpg);
  background-color: rgba(0, 0, 0, 0.30); /* Fondo oscuro con 70% transparencia */
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay; /* Mezcla la imagen y el color */
}

.login-container h1 {
  font-size: 28px;
  color: red;
  margin-bottom: 10px;
}

.login-container .subtitulo {
  font-size: 18px;
  color: #e0e0e0;
  margin-bottom: 30px;
}

.login-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-container label {
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.login-container input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  transition: border-color 0.3s;
}

.login-container button[type="submit"] {
  padding: 12px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-container button[type="submit"]:hover {
  background-color: #0056b3;
}