#background-black-fade { /* <div> que cubre toda la página al abrir los detalles de una seta, de color negro transparente */
    display: none;
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 40%;
}

#mushroom-details { /* Contenedor de los detalles de la seta */
    transform-origin: center center;
    position: fixed;
    width: min-content;
    height: min-content;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0%);
    border-radius: 20px;
    padding: 50px 25px 10px 25px;
    background-color: var(--color-principal-fondo);
    transition-duration: 0.35s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

    #detail-image-container { /* Contenedor de la imagen de la seta */
        width: 100%;
        justify-content: center;
        text-align: center;

        #detail-image { /* La imagen en sí */
            width: 40vw;
            border-radius: 10px;
            user-select: none;
            transition: 0.35s ease-out;
        }
    }

    #detail-close { /* Estilo del SVG con forma de X para cerrar el panel informativo */
        position: absolute;
        color: black;
        opacity: 40%;
        width: 20px;
        height: 20px;
        scale: 110%;
        right: 10px;
        padding: 5px;
        transform: translate(-5px, -34px);

        &:hover {
            opacity: 70%;
            cursor: pointer;
        }
    }

    .detail-name { /* Estilo del título de cada detalle, por ejemplo: "Nombre Científico: " */
        color: grey;
    }

    .detail-content { /* Estilo del contenido de cadad etalle, por ejemplo, "Agaricus Benesii" */
        font-weight: bold;
    }

    .detail-comment-container { /* Contenedor del comentario, en caso de que exista, que contiene la foto de perfil y el comentario */
        display: flex;
        user-select: none;

        #detail-profile-picture { /* Estilo de la foto de perfil */
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: var(--color-secundario) 5px solid;
            margin: 20px;
            background-color: rgba(0, 0, 0, 20%);
        }

        #detail-comment { /* Estilo del contenedor del comentario, con el título y el contenido */
            color: var(--color-secundario);
            font-weight: bold;
            width: 100%;
            margin: 20px;
            display: flex;
            flex-direction: column;

            .detail-content { /* Estilo del contenido del comentario */
                background-color: var(--color-secundario-fondo);
                margin-top: 10px;
                margin-bottom: 10px;
                padding: 10px;
                color: black;
                font-weight: normal;
                user-select: text;
            }
        }
    }
}