#detalles-seta {
    transform-origin: center center;
    position: fixed;
    width: min-content;
    height: min-content;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0%);
    border-radius: 20px;
    padding: 50px 25px 10px 25px;
    background-color: white;
    transition-duration: 0.35s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

    #detail-image-container {
        width: 100%;
        justify-content: center;
        text-align: center;

        #detail-image {
            max-width: 15vw;
            border-radius: 10px;
            user-select: none;
            transition: 0.35s ease-out;

            &:hover {
                cursor: pointer;
            }
        }
    }

    #detail-close {
        position: absolute;
        color: black;
        opacity: 40%;
        width: 20px;
        height: 20px;
        scale: 110%;
        right: 10px;
        padding: 5px;
        transform: translate(-5px, -34px);

        &:hover {
            opacity: 70%;
            cursor: pointer;
        }
    }

    .detail-name {
        color: grey;
    }

    .detail-content {
        font-weight: bold;
    }

    .detail-comment-container {
        display: flex;
        user-select: none;

        #detail-profile-picture {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: var(--color-secundario) 5px solid;
            margin: 20px;
        }

        #detail-comment {
            color: var(--color-secundario);
            font-weight: bold;
            width: 100%;
            margin: 20px;
            display: flex;
            flex-direction: column;

            .detail-content {
                background-color: var(--color-secundario-fondo);
                margin-top: 10px;
                margin-bottom: 10px;
                padding: 10px;
                color: black;
                font-weight: normal;
                user-select: text;
            }
        }
    }
}

#background-black-fade {
    display: none;
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 40%;
}