body {
    margin: 0px;
}
.subirSeta {  
    text-align: center;  
    margin: 20px 0;  
}  

.subirSeta button {  
    padding: 10px 20px;  
    font-size: 16px;  
    cursor: pointer;  
}  

.imagesContenedor {  
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
}  

.seta { 
    margin-bottom: 10px;
}  

img {  
    width: 25%; 
    height: auto;  
}  

.nombreCientifico{  
    width: 100%;
    margin-left: 0%;
    margin: 20px 0;  
}  

.nombreComun{  
    width: 100%;
    margin-left: 0%;
    margin: 20px 0;    
}  

.fecha{
    width: 100%;
    margin-left: 0%;
    margin: 20px 0;  
}  