html {
    /* Colores */
    --color-principal: rgb(121, 199, 255);
    --color-secundario: rgb(151, 187, 219);
    --color-acento: rgb(224, 58, 58);
    --color-principal-fondo: white;
    --color-secundario-fondo: aliceblue;
}

body {
    margin: 0px;
    font-family: "Titillium web", sans-serif;
    justify-content: center;

    .title {
        user-select: none;
        z-index: -1;
        width: 100%;
        text-align: center;
        color: var(--color-acento);
        font-size: 3rem;
        position: absolute;
    }
}

.subir-seta {
    z-index: 2;
    position: absolute;
    right: 55px;
    transform: translateY(40px);
    padding: 20px 30px;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 0px;
    background-color: var(--color-principal);
    color: white;
    border: none;
    user-select: none;

    &:hover {
        background-color: var(--color-acento);
    }
}

#gallery-container {
    width: 100%;
    margin-top: 150px;
    position: relative;

    * {
        user-select: none;
    }
    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px 35px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 100px;

        div {
            background-color: #fff;
            border: 1px solid #ddd;
            padding: 15px;
            border-radius: 10px;
            text-align: center;
            width: 250px;
            height: 190px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
            transition: 0.2s ease;

            .mushroom {
                border-radius: 10px;
                width: 100%;
                aspect-ratio: auto;
            }

            &:hover {
                transition-duration: 0.05s;
                filter: brightness(90%);
                scale: 1.02;
                cursor: pointer;
            }

            .user {
                position: absolute;
                width: 60px;
                transform: translate(-250px, 160px);
                z-index: 1;
                border-radius: 50%;
                box-shadow: 0 0 5px black;
            }
        }
    }
}