body { /* Toda la página tendrá esta fuente y color de fondo: */
    font-family: var(--font);
    background-color: var(--color-secundario-fondo);
    /* { border: red 1px solid; } */
}

main { /* Elemento principal que contiene tanto el títlo como la galería */
    display: flex;
    flex-direction: column;

    .title {
        display: flex;
        flex-direction: row;
        justify-content: right;
        height: 150px;

        h1 {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            user-select: none;
            text-align: center;
            color: var(--color-acento);
            font-size: 3rem;
        }

        .upload-photo-container {
            display: grid;
            align-items: center;
            width: 300px;

            .upload-photo {
                width: min-content;
                text-align: center;
                text-decoration: none;
                text-wrap: nowrap;
                font-size: 1rem;
                font-weight: bold;
                text-transform: uppercase;
                background-color: var(--color-terciario);
                color: var(--color-principal-fondo);
                padding: 15px 25px;

                &:hover {
                    background-color: var(--color-acento);
                }
            }
        }
    }
    
    #gallery-container {
        width: 100%;
        user-select: none;

        .gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 50px 35px;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 100px;
    
            .card {
                background-color: var(--color-principal-fondo);
                border: 1px var(--color-principal) solid;
                padding: 15px;
                border-radius: 10px;
                text-align: center;
                width: 250px;
                height: min-content;
                box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
                transition: 0.2s ease;
    
                .mushroom {
                    border-radius: 10px;
                    width: 100%;
                    aspect-ratio: auto;
                }
    
                &:hover {
                    transition-duration: 0.05s;
                    filter: brightness(90%);
                    scale: 1.02;
                    cursor: pointer;
                }
    
                .user {
                    position: absolute;
                    width: 60px;
                    transform: translate(-250px, 120px);
                    z-index: 1;
                    border-radius: 50%;
                    border: var(--color-secundario) 5px solid;
                }
            }
        }
    }
}