html {
    --color-terciario: rgb(100, 160, 212);
}

body {
    margin: 0;
    justify-content: center;
    background-color: var(--color-secundario-fondo);
    * { font-family: "Titillium web", sans-serif; }
}

#container {
    height: 600px;
    display: flex;
    flex-direction: column;

    .page-title {
        text-align: center;
        color: var(--color-acento);
    }

    .profile-container {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        gap: 50px;
        margin-top: 25px;

        .profile-picture-container {
            user-select: none;
            text-align: center;
            justify-content: center;

            .profile-picture {
                background-color: var(--color-secundario);
                padding: 10px;
                width: 250px;

                img {
                    width: 250px;
                }
            }

            .profile-picture-button {
                background-color: var(--color-terciario);
                text-decoration: none;
                color: white;
                font-weight: bold;
                padding: 8px 89px;
                border: none;
                font-size: 1rem;
                margin-top: -5px;

                &:hover {
                    transition: 0.1s ease-out;
                    background-color: var(--color-acento);
                    cursor: pointer;
                }
            }
        }
    }

    .profile-info-container {
        display: flex;
        flex-direction: column;
        transform: translateY(-20px);

        h1 { color: var(--color-terciario); }

        #error-message {
            width: 100%;
            text-align: center;
            font-weight: bold;
            margin-top: 5px;

            .success { color: rgb(72, 180, 86); }
            .error { color: var(--color-acento); }
        }

        .profile-info {
            width: 400px;
            height: 235px;
            background-color: var(--color-secundario);
            display: flex;
            flex-direction: column;

            div:not(.actions) {
                margin: 20px 20px 10px 20px;

                .title {
                    color: white;
                    user-select: none;
                }
                .data {
                    font-weight: bold; 
                    background-color: var(--color-terciario);
                    padding: 5px 10px;
                    margin-left: 10px;
                    border-radius: 5px;
                }
            }

            .actions {
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                gap: 30px;
                user-select: none;

                button {
                    background-color: var(--color-terciario);
                    padding: 10px 30px;
                    text-decoration: none;
                    color: white;
                    font-weight: bold;
                    border: none;

                    &:hover {
                        transition: 0.1s ease-out;
                        background-color: var(--color-acento);
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .logout {
        width: 100vw;
        text-align: center;
        margin-top: 60px;
        user-select: none;

        a {
            color: white;
            background-color: var(--color-acento);
            text-decoration: none;
            font-weight: bold;
            padding: 15px 60px;

            &:hover {
                filter: brightness(90%);
            }
        }
    }
}

#change-profile-info {
    visibility: hidden;
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 40%);

    .container {
        width: 500px;
        height: 400px;
        background-color: var(--color-secundario-fondo);
        opacity: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        border-radius: 20px;

        .logo-container {
            user-select: none;
            width: 100%;
            text-align: center;
            padding-bottom: 20px;

            img {
                width: 50%;
            }
        }
    }

    #change-email-form, #change-password-form {
        display: none;
        flex-direction: column;

        label {
            user-select: none;
        }
        
        input {
            background-color: white;
            padding: 5px;
            margin-bottom: 20px;
            border-radius: 5px;
            border: var(--color-secundario) 2px solid;
        }

        button[type="submit"] {
            padding: 10px;
            width: 40%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            background-color: var(--color-acento);
            border: 0px;
            color: white;
            font-weight: bold;
            scale: 110%;

            &:hover {
                background-color: #b11b1b;
                cursor: pointer;
            }
        }
    }
}