main { /* Contenedor principal de la página */
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    .svg-container { /* Aplicar la animación al SVG principal al cargar la página */
        svg { animation: SVGAnimation 1s ease-in-out; }
    }

    h1 { /* Cambiar el color del título dependiendo del resultado */
        .success { color: var(--color-titulo); } /* Verde */
        .error { color: var(--color-acento); } /* Rojo */
    }

    .comment-container { /* Contenedor del texto debajo del título principal */
        width: 100%;
        display: flex;
        justify-content: center;

        p { /* El texto en sí */
            width: 70%; /* La longitud máxima es 70% para que no ocupe toda la longitud de la página */
            margin-bottom: 50px;
            font-weight: bold;
            font-size: 1.1rem;
            opacity: 80%;
        }
    }
    
    .option-container { /* <div> que contiene los distintos botones de navegación */
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;

        .option { /* Cada <div> contiene un enlace con un SVG y un <span> con texto debajo */
            display: flex;
            flex-direction: column;
            user-select: none;
            
            a svg { /* Estilo del SVG de los botones */
                color: var(--color-principal-fondo);
                width: 100px;
                height: 100px;
                padding: 15px;
                border-radius: 10px;
                background-color: var(--color-terciario);
            }

            span { /* Estilo del texto debajo de cada botón */
                text-wrap: nowrap;
                text-align: center;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 1rem;
                color: var(--color-terciario);
            }

            a:hover svg { /* Animación al pasar el ratón por el botón */
                transition: ease-out 0.1s;
                background-color: var(--color-acento);
                scale: 105%;
            }
        }
    }
}

/* Animación hecha a mano que cambia el tamaño y el giro (ángulo) del SVG principal de la página.
Se ejecuta al cargar la página con la función ease-in-out, que es equivalente a "cubic-bezier(0.42, 0, 0.58, 1)" */
@keyframes SVGAnimation {
    0% {
        scale: 0%;
        transform: rotateZ(0deg);
    }
    60% {
        scale: 110%;
        transform: rotateZ(390deg);
    }
    80% {
        scale: 95%;
        transform: rotateZ(350deg);
    }
    100% {
        scale: 100%;
        transform: rotateZ(360deg);
    }
}