body {
    background-color: var(--color-secundario-fondo);
    font-family: 'Titillium Web', sans-serif;
}

main { /* Contenedor principal de la página */
    width: 750px;
    height: auto;
    background-color: var(--color-principal-fondo);
    margin: 100px auto;
    box-shadow: 0 0 10px var(--color-secundario);
    text-align: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;

    h1 { color: var(--color-acento); } /* Estilo del título */

    form { /* Estilo de los distintos campos del formulario, dividido en dos filas: Los <input>'s y el botón de envío. */
        display: flex;
        flex-direction: column;

        .row { /* Estilo de la primera fila, dividida en dos columnas con campos obligatorios y no obligatorios, respectivamente */
            display: flex;
            flex-direction: row;
            justify-content: center;
    
            .column { /* Cada columna ordena sus elementos de forma vertical. */
                display: flex;
                flex-direction: column;
                margin: 50px;
                width: 350px;
                text-align: left;
                transform: translate(-20px, -20px);
                * { font-size: 1.2rem; }
    
                .hint { /* Estilo del texto que indica qué campos son obligatorios */
                    color: var(--color-acento);
                    text-align: left;
                    position: absolute;
                    transform: translateY(-100%);
                }

                label { margin-top: 20px; } /* Todas las etiquetas encima de los campos dejarán un espacio superior para mantener una separación vertical. */
    
                input { /* Estilo de los campos en sí */
                    width: 100%;
                    height: 50px;
                    border-radius: 10px;
                    padding: 0 20px;
                    background-color: var(--color-secundario-fondo);
                    outline: none;
                    border: none;
                    font-weight: bold;
    
                    &:required { background-color: var(--color-acento-secundario); }  /* Si el campo es obligatorio, el color del fondo cambiará a rojo */
    
                    &::placeholder { /* Estilo del texto por defecto del campo */
                        font-family: "Titillium Web", sans-serif;
                        font-size: 1rem;
                        font-weight: normal;
                        user-select: none;
                    }
                }
    
                input[type="date"] { /* El campo de fecha requiere de un estilo especial */
                    font-weight: normal;
                    font-size: 1rem;
                    text-transform: uppercase;
                }
    
                label span { color: var(--color-acento); } /* Asterisco marcando que es obligatorio */
    
                .upload-image { /* <div> que contiene el campo para subir la foto */
                    transform: translateY(20px);

                    #preview-image { /* Estilo del elemento que muestra una previsualización de la imagen, oculto por defecto */
                        display: none;
                        width: 100%;
                        aspect-ratio: 16/9;
                        scale: 1.15;
                        margin: 38px 0 0 20px;
                        border: var(--color-terciario) 5px dashed;
                    }

                    #crop-label { /* Estilo del botón de subir imagen, generado por uploadImage.js */
                        display: inline-block;
                        text-align: center;
                        line-height: 150px;
                        width: 100%;
                        height: 150px;
                        background-color: var(--color-acento-secundario);
                        border: var(--color-acento) 5px dashed;
                        color: var(--color-acento);
                        font-size: 1.5rem;
                        transform: translateY(5px);
    
                        &:hover { /* Al pasar el ratón por encima */
                            color: var(--color-terciario);
                            background-color: var(--color-secundario-fondo);
                            border-color: var(--color-terciario);
                        }
                    }
                }
                .observaciones { /* Estilo del <div> que contiene las observaciones. La etiqueta no requiere de estilo */
                    margin-top: 20px;

                    textarea { /* Estilo de la caja en sí */
                        border: none;
                        background-color: var(--color-secundario-fondo);
                        resize: none;
                        width: 115%;
                        height: 195%;
                        margin-top: 2px;
                        border-radius: 10px;
                    }
                }
            }
        }
        
        .form-button button { /* Estilo del botón para enviar el formulario */
            background-color: var(--color-titulo);
            padding: 20px 60px;
            border: none;
            border-radius: 10px;
            color: var(--color-principal-fondo);
            margin-bottom: 20px;
            font-size: 1.2rem;
            font-weight: bold;

            &:hover { /* Al pasar el ratón por encima */
                background-color: var(--color-acento);
                cursor: pointer;
            }
        }
    }
}