main { /* <div> con todo el contenido de la página */
    width: 500px;
    height: min-content;
    background-color: var(--color-principal-fondo);
    margin: 100px auto;
    box-shadow: 0 0 10px var(--color-secundario);
    text-align: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;

    h1 { /* Título de la página */
        transform: translateY(-20px);
        color: var(--color-acento);
    }

    form { /* Formulario: Subir foto, comentario y botón para enviar. */
        #upload-image-container {
            width: 100%;
            aspect-ratio: 16 / 9;
            margin-top: -20px;
            text-align: center;
            display: flex;
            
            #crop-label { /* Botón para subir la foto; elemento generado por uploadImage.js */
                z-index: 2;
                display: grid;
                align-items: center;
                user-select: none;
                border: var(--color-terciario) 5px dashed;
                background-color: var(--color-secundario-fondo);
                color: var(--color-terciario);
                aspect-ratio: 16/9;
                width: 100%;
                padding: 0;
                font-size: 1.5rem;
                border-radius: 20px 20px 0 0;
    
                &:hover {
                    border-color: var(--color-acento);
                    color: var(--color-acento);
                    background-color: var(--color-acento-suave);
                }
            }

            #preview-image { /* Imagen que muestra la previsualización de la foto que se va a subir */
                display: none;
                width: 100%;
                aspect-ratio: 16/9;
                border: var(--color-terciario) 5px dashed;
            }
        }

        .comment-container { /* Contenedor principal del comentario */
            width: 100%;
            height: 100px;
            display: flex;

            textarea { /* Elemento del comentario en sí */
                resize: none;
                width: 100%;
                height: 100%;
                border: var(--color-terciario) 5px dashed;
                margin-top: -5px;
                z-index: 1;
                border-radius: 0 0 20px 20px;
                font-size: 1.2rem;

                &::placeholder { /* Centrar el texto por defecto (placeholder) vertical y horizontalmente */
                    text-align: center;
                    line-height: 100px;
                }

                &:focus { /* Al hacer click sobre el comentario, traerlo delante de "Subir Foto" y cambiar el color */
                    border-color: var(--color-acento);
                    outline: none;
                    z-index: 3;

                    &::placeholder { opacity: 0; }
                }
            }
        }

        .button-container { /* Contenedor del botón para enviar el formulario */
            width: 100%;
            margin-top: 40px;
            
            button { /* Estilo del botón en sí */
                padding: 10px 30px;
                background-color: var(--color-terciario);
                color: var(--color-principal-fondo);
                font-weight: bold;
                font-size: 1.5rem;
                text-transform: uppercase;
                border: none;

                &:hover {
                    background-color: var(--color-acento);
                    cursor: pointer;
                }
            }
        }
    }
}