img { /* Estilo de todas las imágenes con las que se trabajen. Es necesario para que todo se vea correctamente. */
    max-width: 100%;
    height: auto;
}

#crop { /* Ocultamos el elemento con ID "crop" porque se genera automáticamente con JS */
    display: none;
}

#crop-label { /* Este es el nuevo botón, con un estilo por defecto, que sustituye al input. */
    background-color: var(--color-terciario);
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;

    &:hover {
        background-color: var(--color-acento);
        cursor: pointer;
    }
}

#crop-popup-background { /* Estilo del fondo del panel para recortar la imagen */
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 40%);

    #crop-popup-container { /* Contenedor principal con la interfaz de recorte de imagen y el botón para subirlo */
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--color-secundario-fondo);
        min-width: 500px;
        width: min-content;
        height: min-content;
        padding: 25px;
        border-radius: 20px;
        opacity: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        
        .crop-popup-button { /* Estilo del botón para confirmar el recorte de la imagen */
            padding: 20px 10px;
            border: none;
            margin-top: 20px;
            background-color: var(--color-secundario);
            color: var(--color-principal-fondo);
            font-weight: bold;
            text-transform: uppercase;
            font-size: 1.5rem;

            &:hover {
                cursor: pointer;
                background-color: var(--color-acento);
            }
        }
    }
}